<!-- <r4-autocomplete on:selected="selected(event)"></r4-autocomplete> -->

<svelte:window on:keydown={onKeydown} />

<div class="aa-container" on:selected={selected}>
	<input
		type="search"
		class="aa-input-search"
		placeholder="Search Radio4000..."
		autocomplete="off"
		/>
	<svg class="aa-input-icon" viewBox="654 -372 1664 1664">
		<path
			d="M1806,332c0-123.3-43.8-228.8-131.5-316.5C1586.8-72.2,1481.3-116,1358-116s-228.8,43.8-316.5,131.5  C953.8,103.2,910,208.7,910,332s43.8,228.8,131.5,316.5C1129.2,736.2,1234.7,780,1358,780s228.8-43.8,316.5-131.5  C1762.2,560.8,1806,455.3,1806,332z M2318,1164c0,34.7-12.7,64.7-38,90s-55.3,38-90,38c-36,0-66-12.7-90-38l-343-342  c-119.3,82.7-252.3,124-399,124c-95.3,0-186.5-18.5-273.5-55.5s-162-87-225-150s-113-138-150-225S654,427.3,654,332  s18.5-186.5,55.5-273.5s87-162,150-225s138-113,225-150S1262.7-372,1358-372s186.5,18.5,273.5,55.5s162,87,225,150s113,138,150,225  S2062,236.7,2062,332c0,146.7-41.3,279.7-124,399l343,343C2305.7,1098.7,2318,1128.7,2318,1164z"
			/>
	</svg>
</div>

<script>
//import * as sapper from '../../__sapper__/client.js'
//import * as sapper from '@sapper/app'
// These are currently imported in template.html
import algoliasearch from 'algoliasearch/lite'
import {onMount} from 'svelte'
//import autocomplete from 'autocomplete.js'

onMount(() => {
	enableAutocomplete()
})

function selected(channel) {
	sapper.goto(`/${channel.slug}`)
}

function onKeydown(event) {
	const {keyCode} = event
	if (keyCode === 191) clearSearch()
	if (keyCode === 27) clearSearch()
}

function clearSearch() {
	const {search} = this.get()
	search.autocomplete.setVal('')
}

function enableAutocomplete() {
	// Enable algolia index.
	var client = algoliasearch('7FFSURJR0X', 'dba2e03ef95f278d5fbe76d4cd80b6bf')
	var index = client.initIndex('radio4000_channels')

	// Enable autocomplete ui
	var search = autocomplete(
		this.refs.input,
		{
			autoselect: true,
			clearOnSelected: true,
			hint: true,
			debug: true,
			//autoselectOnBlur: true,
			openOnFocus: true,
			ariaLabel: 'Search Radio4000 channels',
			// 27 = esc, 191 = /
			keyboardShortcuts: ['s', 27, 191]
		},
		[
			{
				source: autocomplete.sources.hits(index, {hitsPerPage: 8}),
				displayKey: 'title',
				templates: {
					// This is the HTML template for each search result.
					suggestion({image, title}) {
						if (!image) return title
						var thumbnail = `https://res.cloudinary.com/radio4000/image/upload/w_50,h_50,c_thumb,q_60/${image}`
						return `<img width="30" src="${thumbnail}" alt=""><span>${title}</span>`
					}
				}
			}
		]
	)

	// Save the instance.
	this.set({search})

	// Send a custom event up.
	search.on('autocomplete:selected', (event, suggestion, dataset) => {
		this.selected(suggestion)
	})
}
</script>

<style>
:global(.aa-container) {
	flex: 1;
	margin: 0.6rem;
}
	:global(.aa-input-search) {
		min-height: 2rem;
		border-radius: 3px;
		border: 0;
	}
</style>
